<!DOCTYPE html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="javascripts/script.js"></script>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700' rel='stylesheet' type='text/css'>

</head>
<body>

<nav id="main-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Cooking Trailers</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse dropdown" id="collapsed-menu">
      <ul class="nav navbar-nav">
        <li><a href="/">Recipes </a></li>
        <li><a href="/cookbooks">Cookbooks</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (curr_user) { %>
          <li><a data-toggle="modal" data-target="#createRecipeModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= curr_user %> <span class="caret"></span></a>
           <ul class="dropdown-menu">
            <li><a style="color: #000;" href="/logout">Log Out</a></li>
          </ul>
        </li>
        <% } else { %>
          <li><a data-toggle="modal" data-target="#loginModal" style="cursor: pointer;">Log In</a></li>
          <li><a data-toggle="modal" data-target="#newUserModal" style="cursor: pointer;">Register</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- Create Recipe Modal -->
<div id="createRecipeModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Recipe</h4>
      </div>
      <div class="modal-body">
        <form action="/recipes/create" method="post">
			<label name="name">Recipe Name</label>
			<input type="text" name="name" placeholder="Four Cheese Mac-n-Cheese"/><br/>
			<input type="submit" value="Create this Recipe">
		</form>
      </div>
    </div>

  </div>
</div>

<!-- Create New User Modal -->
<div id="newUserModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New User</h4>
      </div>
      <div class="modal-body">
		<form action="/create" method="post">

			<label name="username">Username</label>
			<input type="username" name="username" placeholder="Username"/><br/>
    </br>
			<label name="email">Email</label>
			<input type="email" name="email" placeholder="Email Address"/><br/>
    </br>
			<label name="password">Password</label>
			<input type="password" name="password" placeholder="Password"/><br/>
    </br>
			<label name="password_confirmation">Confirm Password</label>
			<input type="password" name="password_confirmation" placeholder="Password"/>
    </br>
  </br>
			<input type="submit" class="btn btn-warning" value="Register">
		</form>
      </div>
    </div>

  </div>
</div>

<!-- Login Modal -->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Log In</h4>
      </div>
      <div class="modal-body">
        <form action="/login" method="post">
      <label name="email">Email</label>
      <input type="email" name="email" placeholder="Email Address"/>
    </br>
    </br>
      <label name="password">Password</label>
      <input type="password" name="password" placeholder="Password"/>
    </br>
    </br>
      <input type="submit" class="btn btn-warning" value="Log In">
      <br>
      <a class="button" href="/auth/facebook">Log in with FB</a>
    </form>
      </div>
    </div>

  </div>
</div>


<div style="margin-bottom: 50px;"></div>