<% include partials/header %>

	<form action="/recipes/search" method="post">

    <label name="search">Recipe Name</label>
    <input type="text" name="search" id="search-term" value=""/>
	</br>

	<input type="submit" value="Search" id="search-button">

    <label name="allergy">Allergy Name</label>
    <input type="text" name="search" id="allergy-term" value=""/>
	</br>

	<input type="submit" value="Search" id="allergy-button">


	</form>

	<ul>
		<li class="top-recipe" id="pizza">Chicken</li>
	</ul>
	

	<div id="recipes-container" class="container">
	</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

		<script src="../javascripts/recipe.js"></script>

<% include partials/footer %>