<% include partials/header %>

<div class="dropdown-menu" id="categories-div">
	<ul>
		<li class="top-recipe dropdown-menu" id="pizza">Chicken</li>
	</ul>
</div>

<div id="search-div">
	<form action="/recipes/search" method="post">
	    <input type="text" name="search" class="search-box" id="search-term" placeholder="Search all recipes..."/>

	    <input type="text" name="search" class="search-box" id="allergy-term" placeholder="Without..."/>

		<input type="submit" value="Search" class="search-button" id="search-button">
	</form>
</div>
	
<div id="recipes-container" class="container">
</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

		<script src="../javascripts/recipe.js"></script>

<% include partials/footer %>