	<div id="login">
		<h3>Log In</h3>
		<form action="/login" method="post">
			<label name="email">Email</label>
			<input type="email" name="email" placeholder="Email Address"/>
			<label name="password">Password</label>
			<input type="password" name="password" placeholder="Password"/>
			<input type="submit" value="Register">
		</form>
	</div>

	<div id="newuser">
		<h3>Create User</h3>
		<form action="/create" method="post">

			<label name="username">Username</label>
			<input type="username" name="username" placeholder="Username"/><br/>

			<label name="email">Email</label>
			<input type="email" name="email" placeholder="Email Address"/><br/>

			<label name="password">Password</label>
			<input type="password" name="password" placeholder="Password"/><br/>

			<label name="password_confirmation">Confirm Password</label>
			<input type="password" name="password_confirmation" placeholder="Password"/>

			<input type="submit" value="Register">
		</form>
	</div>