<% include partials/header %>

<div id="search-div">
	    <input type="text" name="search" class="search-box" id="search-term" placeholder="Search all recipes..."/>
	    <input type="text" name="search" class="search-box" id="allergy-term" placeholder="Without..."/>
		<button type="submit" class="btn btn-warning search-button" id="search-button">Search</button>
		<button class="show-categories btn btn-primary">Browse by Category</button>
</div>

<div class="dropdown-recipes" id="categories-div">
  <div class="dropdown-recipes-container container">
    <div class="row">
	    <div class="category col-lg-3" id="appetizer" style="background: url('http://www.shreeradheybakers.com/wp-content/uploads/2015/04/indian-snacks1.jpg'); background-size: cover;">
	    	<h1>appetizers</h1>
	    </div>

		<div class="category col-lg-3" id="entree" style="background: url('http://www.butterball.com/cache/2ab1a5a0662c94b9/RecipeCategoryHeros_0006_lunch_592_328_s_c1_c_c.jpg'); background-size: cover;">
			<h1>entrees</h1>
		</div>

		<div class="category col-lg-3" id="dessert" style="background: url('http://images.media-allrecipes.com/images/56562.png'); background-size: cover;">
			<h1>desserts</h1>
		</div>

		<div class="category col-lg-3" id="beverages" style="background: url('http://hdwallpapers.cat/wallpaper/bacardi_rum_drink_macro_alcohol_brands_hd-wallpaper-708533.jpg'); background-size: cover;">
			<h1>beverages</h1>
		</div>

		<div class="category col-lg-3" id="breakfast" style="background: url('http://www.conduitchurch.com/wp-content/uploads/2014/11/Pancake-Breakfast.jpg'); background-size: cover;">
			<h1>breakfast</h1>
		</div>

		<div class="category col-lg-3" id="sides" style="background: url('http://bluetortillagrille.com/wp-content/uploads/2015/08/gallery-kfc-sides.jpg'); background-size: cover;">
			<h1>sides</h1>
		</div>

		<div class="category col-lg-3" id="salad" style="background: url('http://bonappetitpizzeria.com/wp-content/uploads/2014/04/Salad.jpg'); background-size: cover;">
			<h1>salads</h1>
		</div>

		<div class="category col-lg-3" id="seasonal" style="background: url('http://www.irunnewjersey.com/wp-content/uploads/2015/03/bbq1.jpg'); background-size: cover;">
			<h1>seasonal</h1>
		</div>

	</div>

  </div>
</div>
	

<div id="recipes-container" class="container" style="padding-top: 30px;">



</div>








		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

		<script src="../javascripts/recipe.js"></script>

<% include partials/footer %>

<!-- Template 1 -->

