<% include partials/header %>

<div id="search-div">
	<form action="/recipes/search" method="post">
		<button class="show-categories btn btn-primary">Categories</button>
	    <input type="text" name="search" class="search-box" id="search-term" placeholder="Search all recipes..."/>
	    <input type="text" name="search" class="search-box" id="allergy-term" placeholder="Without..."/>
		<button type="submit" class="btn btn-warning search-button" id="search-button">Search</button>
	</form>
</div>

<div class="dropdown-recipes" id="categories-div">
  <div class="dropdown-recipes-container container">
    <div class="row">
	    <div class="category col-lg-3" id="appetizer" style="background: url('http://www.conduitchurch.com/wp-content/uploads/2014/11/Pancake-Breakfast.jpg'); background-size: cover;">
	    	<h1>appetizers</h1>
	    </div>

		<div class="category col-lg-3" id="entree" style="background: url('http://www.butterball.com/cache/2ab1a5a0662c94b9/RecipeCategoryHeros_0006_lunch_592_328_s_c1_c_c.jpg'); background-size: cover;">
			<h1>entrees</h1>
		</div>

		<div class="category col-lg-3" id="dessert" style="background: url('https://ag.purdue.edu/agcomm/PublishingImages/TopStory/Turkey-dinner.jpg'); background-size: cover;">
			<h1>desserts</h1>
		</div>

		<div class="category col-lg-3" id="beverages" style="background: url('http://hdwallpapers.cat/wallpaper/bacardi_rum_drink_macro_alcohol_brands_hd-wallpaper-708533.jpg'); background-size: cover;">
			<h1>beverages</h1>
		</div>

		<div class="category col-lg-3" id="breakfast" style="background: url('http://www.shreeradheybakers.com/wp-content/uploads/2015/04/indian-snacks1.jpg'); background-size: cover;">
			<h1>breakfast</h1>
		</div>

		<div class="category col-lg-3" id="sides" style="background: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ7qVSc6N8Jw1dP3Ab5UViWyF_fxUd0dw2Dxgbw1cRruxwr5xZ1'); background-size: cover;">
			<h1>sides</h1>
		</div>

		<div class="category col-lg-3" id="salad" style="background: url('http://comfortablydomestic.com/wp-content/uploads/2013/02/p2030074edited21.jpg'); background-size: cover;">
			<h1>salads</h1>
		</div>

		<div class="category col-lg-3" id="seasonal" style="background: url('http://www.irunnewjersey.com/wp-content/uploads/2015/03/bbq1.jpg'); background-size: cover;">
			<h1>seasonal</h1>
		</div>

	</div>

  </div>
</div>
	
<div id="recipes-container" class="container">

	<!-- TEMPLATE -->
	<div class="row template-one-row template-container">

		<!-- // BIG VIDEO 0 -->

		<div class="col-lg-8 big-video-col" id="big-video-col">
			<div class="videoDiv">
				<video class="foodGif" width="100%" loop="true"><source src="http://i.imgur.com/FAxIzSC.webm" type="video/webm">Your browser does not support the video tag.</video>
			</div>
			<div class="videoOverlay">
					<h2 class="bv-title">Recipe Title</h2>
				<div id="videoOverlay-timer">
					<h2 class="bv-prep_time">Prep Time: </h2>
					<h2 class="bv-cook_time">Cook Time: </h2>
				</div>
			</div>
		</div>

		<div class="col-lg-4 small-video-col" id="small-video-col">

			<!-- // SMALL VIDEO 1 TOP --> 
			<div class="small-video top" id="small-video-top">
				<div class="videoDiv" id="sv-top-videoDiv">
					<video class="foodGif" width="100%" loop="true"><source src="http://i.imgur.com/FAxIzSC.webm" type="video/webm">Your browser does not support the video tag.</video>
				</div>
				<div class="videoOverlay" id="sv-top-videoOverlay">
					<h2 class="sv-title">Recipe 1 name</h2>
				</div>
			</div>

			<!-- // SMALL VIDEO 2 BOTTOM--> 
			<div class="small-video bottom" id="small-video-bot">
				<div class="videoDiv" id="sv-bot-videoDiv">
					<video class="foodGif" width="100%" loop="true"><source src="http://i.imgur.com/FAxIzSC.webm" type="video/webm">Your browser does not support the video tag.</video>
				</div>
				<div class="videoOverlay" id="sv-bot-videoOverlay">
					<h2 class="sv-title">Recipe 2 name</h2>
				</div>
			</div>

		</div>
	</div>

	<!-- // TEMPLATE TWO -->

		<div class="row template-two-row template-container">

		<div class="col-lg-4 small-video-col" id="small-video-col">

			<!-- // SMALL VIDEO 1 TOP --> 
			<div class="small-video top" id="small-video-top">
				<div class="videoDiv" id="sv-top-videoDiv">
					<video class="foodGif" width="100%" loop="true"><source src="http://i.imgur.com/FAxIzSC.webm" type="video/webm">Your browser does not support the video tag.</video>
				</div>
				<div class="videoOverlay" id="sv-top-videoOverlay">
					<h2 class="sv-title">Recipe 1 name</h2>
				</div>
			</div>

			<!-- // SMALL VIDEO 2 BOTTOM--> 
			<div class="small-video bottom" id="small-video-bot">
				<div class="videoDiv" id="sv-bot-videoDiv">
					<video class="foodGif" width="100%" loop="true"><source src="http://i.imgur.com/FAxIzSC.webm" type="video/webm">Your browser does not support the video tag.</video>
				</div>
				<div class="videoOverlay" id="sv-bot-videoOverlay">
					<h2 class="sv-title">Recipe 2 name</h2>
				</div>
			</div>

		</div>

				<!-- // BIG VIDEO 0 -->

		<div class="col-lg-8 big-video-col" id="big-video-col">
			<div class="videoDiv">
				<video class="foodGif" width="100%" loop="true"><source src="http://i.imgur.com/FAxIzSC.webm" type="video/webm">Your browser does not support the video tag.</video>
			</div>
			<div class="videoOverlay">
					<h1 class="bv-title">Recipe Title</h1>
				<div id="videoOverlay-timer">
					<h2 class="bv-prep_time">Prep Time: </h2>
					<h2 class="bv-cook_time">Cook Time: </h2>
			</div>
		</div>
		

	</div>

</div>








		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

		<script src="../javascripts/recipe.js"></script>

<% include partials/footer %>

<!-- Template 1 -->

