<% include partials/header %>

	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="videoDiv">
					<video class="foodGif" width="100%">
			  			<source src="http://i.imgur.com/EkiMiVz.webm" type="video/webm">
								Your browser does not support the video tag.
					</video>		
				</div>
			</div>
			<div class="col-lg-6">
						<div class="videoDiv">
				<video class="foodGif" width="100%">
		  			<source src="http://i.imgur.com/0WPb9Xo.webm" type="video/webm">
							Your browser does not support the video tag.
				</video>		
			</div>
			</div>
		</div>
	</div>
	
<script>
	$(document).ready(function() {
		$('.videoDiv').hover(function() {
			$(this).children("video")[0].play();
		}, function() {
			var el = $(this).children("video")[0];
			el.pause();
			el.currentTime = 0;
		});
	});
</script>

<% include partials/footer %>