body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F7F7F7;
  color: #888;
}

#main-nav {
	opacity: 0.7;
	margin-bottom: 0;
	height: 30px;
	background-color: #fbbd00;
}

a {
  color: #000;
}

a:hover {
	color: #70778b;
}

h1 {
	font-weight: 700;
	margin-top: 0;
	font-size: 45px;
}

h2 {
	font-size: 16px;
	font-weight: 400;
}

button {
	font-weight: 700;
}

video, source {
	margin: 0px;
	padding: 0px;
}

.recipe-item {
	display: inline-block;
	width: 300px;
	margin: 10px;
}

div.cookbook {
	display: inline-block;
}

#cookbook-heading {
	padding: 10px;
}

div.outerDiv {
	display: table;
	width: 300px;
	height: 200px;
	text-align: center;
	padding: 20px;
	margin: 0px;
	color: #fff;
	background-repeat: none;
}

div.innerDiv {
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
}

div.cookbook h2 {
	text-shadow: 1px 1px 5px #000;
}

div.cookbook p {
	text-shadow: 1px 1px 2px #000;
}

.textFieldEdit {
	width: 100%;
	padding: 10px;
	border: none;
	background: none;
}

.ingredient, .ingredient-quantity {
	width: 200px;
}

.editMode {
	color: red;
}

input {
	width: 100%;
}

textarea {
	resize: none;
}

.showContainer {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
}

.recipe {
	text-align: center;
}

.recipe#title {
	font-size: 55px;
}

.recipe#description {
	height: auto;
}

#search-div {
	text-align: center;
	padding: 30px;
	background-color: #fb9a00;
}

.search-box {
	height: 35px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;	
}

#search-term {
	width: 30%;
}

#allergy-term {
	width: 20%;
}
.search-button {
	width: 10%;
	margin-left: 10px;
	margin-right: 10px;
}

.single-recipe {
	padding-top: 30px;
}

#categories-div {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 10;
	background-color: rgba(0,0,0,0.5); /*dim the background*/
	text-align: center;
}

#stickyDiv.sticky {
     position: fixed;
     top: 50px;
}

.dropdown-recipes-container {
	width: 60%;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.top-recipe {
	background-color: white;
	display: inline-block;
	margin: 20px;
	height: 150px;
	width: 200px;
}

