body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #888;
}

#main-nav {
	opacity: 0.8;
}

a {
  color: #00B7FF;
}

video, source {
	margin: 0px;
	padding: 0px;
	border-radius: 10px;
}

div.cookbook {
	display: inline-block;
}

div.outerDiv {
	display: table;
	width: 400px;
	height: 200px;
	background-size: cover;
	text-align: center;
	padding: 20px;
	margin: 0px;
	color: #fff;
}

div.innerDiv {
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
}

div.cookbook h2 {
	text-shadow: 1px 1px 5px #000;
}

div.cookbook p {
	text-shadow: 1px 1px 2px #000;
}

.textFieldEdit {
	border: none;
	width: 100%;
	padding: 10px;
	background: none;
}

.editMode {
	border-bottom: 2px dotted red;
	color: #aaa;
}

textarea {
	resize: none;
}

.showContainer {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
}

.recipe {
	text-align: center;
}

.recipe#title {
	font-size: 55px;
}

.recipe#description {
	height: auto;
}