body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
  color: #888;
}

.modal-header {
	background-color: #fbbd00;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

h4.modal-title {	
	font-weight: 700;
}

.modal-body {
	color: #465154;
}

.modal-body button {
	width: 100%;
}

#main-nav {
	opacity: 1;
	height: 30px;
	background-color: #fff;
}

#main-nav a {
	color: #ff7300;
	font-weight: 700;
}

a {
  color: #000;
}

a:hover {
	color: #70778b;
	background: #fbbd00;
}

h1 {
	font-weight: 700;
	margin-top: 0;
	font-size: 40px;
}

h2 {
	font-size: 16px;
	font-weight: 400;
}

button {
	font-weight: 700;
}

video, source {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-radius: 3px;
}

#recipe-name {
	font-weight: 700;
	font-size: 14px;
}

#big-video-col {
	padding: 0;
}

#search-div input {
	padding: 10px;
	border: none;
	border-bottom: 3px solid #eee;
}

.template-one-row #small-video-col {
	padding-right: 0;
}

.template-two-row #small-video-col {
	padding-left: 0;
}

.template-container {
	margin-bottom: 10px;
}

.videoDiv {
	padding: 0px;
	margin: 0px;
}

.videoDiv video {
	border-bottom: 3px solid #ddd;
}

.big-video-col .videoOverlay {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 5px;
	padding: 10px;
	margin: 0px;
}

#small-video-top {
	position: relative;
}

#small-video-bot {
	position: relative;
	margin-top: 10px;
}

.videoOverlay {
	opacity: 1;
  	background: linear-gradient(rgba(0,0,0,0) , rgba(0,0,0,0.7));
	color: #fff;
}

#big-videoOverlay {
	padding-left: 25px;
	padding-right: 25px;
}

#sv-top-videoOverlay {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 5px;
	padding: 10px;
	margin: 0px;
	padding-left: 20px;
}

#sv-bot-videoOverlay {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 5px;
	padding: 10px;
	padding-left: 20px;
	margin: 0px;
}

.videoOverlay {
	text-shadow: 1px 1px 2px #000;
}

.videoOverlay h1 {
	display: inline-block;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 0;
	margin-top: 0;
}

.videoOverlay h2 {
	display: inline-block;
	font-weight: 600;
	font-size: 20px;
	position: relative;
}

.videoOverlay h3 {
	display: inline-block;
	font-weight: 300;
	font-size: 15px;
	position: relative;
	margin-bottom: 0;
	margin-top: 0;
}

.modal-body input {
	padding: 10px;
}

h2.bv {
	margin-top: 10px;
	margin-bottom: 0px;
}

h2.sv {
	margin: 0;
}

#videoOverlay-timer {
	float: right;
	width: 20%;
	text-align: right;
	margin-top: 18px;
}

#big-videoText {
	width: 80%;
	float: left;
}

.recipe-item {
	display: inline-block;
	padding: 5px;
}

div.cookbook {
	display: inline-block;
}

#cookbook-heading {
	padding: 10px;
	color: #fff;
}

.cookbook-heading{
	text-shadow: 1px 1px 5px #666;
}

.cookbook-heading input{
	text-shadow: 1px 1px 3px #666;
}

.cookbook-title {
	color: #000;
	font-weight: 300;
}

div.outerDiv {
	display: table;
	width: 100%;
	height: 600px;
	text-align: center;
	padding: 20px;
	margin: 0px;
	color: #fff;
	border-radius: 3px;
}

div.innerDiv {
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
}

div.cookbook h2 {
	text-shadow: 1px 1px 5px #000;
}

div.cookbook p {
	text-shadow: 1px 1px 2px #000;
}

.textFieldEdit {
	width: 100%;
	padding: 10px;
	border: none;
	background: none;
}

.ingredient, .ingredient-quantity {
	width: 200px;
}

.editMode {
	color: red;
	border-bottom: 1px dotted red;
}

input {
	width: 100%;
}

textarea {
	resize: none;
}

.showContainer {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
}

.recipe {
	text-align: center;
}

.recipe#title {
	font-size: 55px;
}

.recipe#description {
	height: auto;
}

.recipe-step {
	background: #f5f5f5;
}
.recipe-step:hover {
	background: #fff;
}


#search-div {
	text-align: center;
	padding: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #f5f5f5;
}

.search-box {
	height: 35px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;	
}

#search-term {
	width: 30%;
}

#allergy-term {
	width: 20%;
}

.search-button {
	width: 10%;
	margin-left: 10px;
	margin-right: 10px;
	background: #fbbd00;
	border: none;
	border-bottom: 3px solid #e1aa00;
}

.show-categories { 
	background: #03677a;
	border: none;
	border-bottom: 3px solid #025261;
}

.show-categories:hover { 
	background: #025261;
	border-bottom: 3px solid #013d48;
}

#stickyDiv.sticky {
     position: fixed;
     top: 50px;
}

.single-recipe {
	padding-top: 30px;
}

#categories-div {
	display: none;
	position: absolute;
	top: 115px;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 10;
	background: #f5f5f5;
	border-bottom: 3px solid #ddd;
	opacity: 1;
	padding-bottom: 30px;
}

.dropdown-recipes-container {
	height: 100px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
}

.category {
	display: inline-block;
	height: auto;
	border-radius: 0px;
	text-align: center;
	cursor: pointer;
	background-size: cover;
	padding: 10px;
}

.category h1 {
	color: #fff;
	line-height: 120px;
	vertical-align: middle;
	font-size: 40px;
	font-weight: 700;
	text-shadow: 1px 1px 3px #000;
}

#modalButtons {
	text-align: center;
}

#loginButton {
	width: 100%;
}

#fbButton {
	width: 100%;
	background-color: #3b5998;
}

input#title {
	font-weight: 600;
}

#checkmark {
	float: right;
	font-size: 25px;
	color: #ff7300;
	display: none;
}