<% include ../partials/header %>

<form action="/recipes/search" method="post">

    <label name="search">Recipe Name</label>
    <input type="text" name="search" value=""/>
	</br>

	<input type="submit" value="Search">
</form>



</body>