<% include ../partials/header %>


<form action="/recipes/update" method="put">
	<div class="showContainer">
		<input type="text" class="editable textFieldEdit recipe" id="title" value="<%= recipe.name %>" disabled>
		<textarea class="editable textFieldEdit recipe" id ="description" disabled><%= recipe.description %></textarea>
		<input type="text" class="editable textFieldEdit recipe" id="prep_time" value="<%= recipe.prep_time %>" disabled>
		<input type="text" class="editable textFieldEdit recipe" id="cook_time" value="<%= recipe.cook_time %>" disabled>
		<input type="submit" id="updateButton" value="Update Recipe">
	</div>
</form>

<button id="editButton">Edit Recipe</button>
<button class="cookbookButton" id-"saveButton">Save to Cookbook</button>
<button class="cookbookButton" id="ingredientButton">Add Ingredient</button>
<button class="cookbookButton" id="stepButton">Add Step</button>

</body>
