<% include partials/header %>

<% if (recipe) { %>
    <table>
        <tbody>
            <tr>
                <td><%= recipe.name %></td>
            </tr>
        </tbody>
    </table>
<% } %>

</body>